/***
Bootstrap Datepicker
***/

.datepicker.dropdown-menu {
  padding: 5px;
}

.datepicker .selected {
  background-color:#909090 !important;
  background-image: none !important;
  filter: none !important;
}

.datepicker .active {
  background-color:#4b8df8 !important;
  background-image: none !important;
  filter: none !important;
}

.datepicker .active:hover {
  background-color: #2678FC !important;
  background-image: none !important;
  filter: none !important;
}

.datepicker .input-daterange input {
  text-align: left;
}

/* change z-index when opened in modal */
.modal-open .datepicker {
  z-index: 10055 !important;
}

.datepicker table td {
  font-weight: 300  !important;
  font-family: 'Open Sans' !important;
}

.datepicker table th {
  font-family: 'Open Sans' !important;
  font-weight: 400  !important;
}

/* Custom CSS */

.error-message, .required-message, #application-form {
	display: none;
}
.sinet-logo {
	background: #8DC640 !important;
}
.navbar-header {
	width: 100%;
}
.sinet-logo {
	float: right;
	padding: 10px 20px;
}
.scrolling-fixed .sinet-logo {
	padding: 3px 20px;
}
.navbar>.container .navbar-brand {
	margin: 0;
}
#myCarousel {
	margin-top: 20px;
}
.form-horizontal .form-group {
	margin: 15px 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 992px) {
	.margin-bottom-5, .form-horizontal .control-label {
		margin-bottom: 5px;
	}
	.ver-inline-menu li.active:after {
		display: none;
	}
	#summary-details {
		visibility: hidden;
		height: 0px;
	}
	.page-header-fixed .page-container {
		margin-top: 85px;
	}
}
.form-horizontal #navigation-table {
	float: right;
}
.panel-primary {
	border-color: #22036f;
}
.panel-primary>.panel-heading {
	background: #22036f;
	border-color: #22036f;
}
.panel-primary>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #22036f;
}
.panel-warning {
	border-color: #fcf8e3;
}
.panel-warning>.panel-heading {
	background: #fcf8e3;
	border-color: #fcf8e3;
}
.panel-warning>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #fcf8e3;
}
/*.btn-primary {
	background: #8DC640;
	border-color: #8DC640;
}
.btn-primary:hover {
	background-color: #8DC640;
	border-color: #8DC640;
	opacity: .65;
}*/
a.btn-transparent:hover {
  background-color: #22036f;
}
a.btn-transparent.green:hover {
  background-color: #8DC640;
}
.btn.disabled {
	text-align: left;
}
a.accordion-toggle {
	text-decoration: none;
}
#summary-details li a {
	text-transform: uppercase;
}
.accordion-toggle.btn.disabled {
	padding: 0;
	width: 100%;
}
.panel-heading.disabled {
	opacity: .65;
}
.panel-heading {
	display: block;
}
@media (min-width: 400px) {
	.scrolling-fixed .navbar-brand {
		padding: 5px 0;
	}
	.sinet-logo {
		padding: 10px 20px 11px;
	}
	.scrolling-fixed .sinet-logo {
		padding: 5px 20px 6px;
	}
}
@media (min-width: 768px) {
	.navbar>.container .navbar-brand {
		margin-left: -15px;
	}
}
@media (max-width: 768px) {
	.navbar>.container .navbar-brand img {
		width: 80px;
	}
	.header.scrolling-fixed a.logo-v1 img {
		margin-top: 0px;
	}
	.page-header-fixed .page-container {
		margin-top: 48px;
	}
}
.completed-text {
	float       : right;
	font-size   : 12px;
	padding-top : 3px;
	display: none;
	color       : black;
}
.incomplete .completed-text {
	display: inline-block;
}
.container>.navbar-header {
	margin: 0px;
}
.form-group label span {
	color:  #cc0000;
}
table.table#job-summary td {
	border: none;
}
table.table#job-summary .text-primary {
	font-weight: bold;
}
.tab-style-1 .tab-content {
	background: none;
}
.tab-style-1 ul.nav-tabs > li {
	min-width: 220px;
}
h4.text-primary {
	font-weight: bold;
}
.text-primary {
	color: #22036f;
}
h1 {
	font-size: 32px;
}
.no-display {
	display: none;
}
.ref-container {
	min-height: 50px;
}
#hidden_iframe {
	display: none;
}
.has-error .input-icon  i {
	color: #b94a48;
}
.error-text {
	display: none;
}
.has-error .error-text {
	display: block;
	text-align: left;
}
@media (min-width: 992px) {
	.header.scrolling-fixed a.logo-v1 img {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
.navbar {
	min-height: 0;
}